<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Users</title>
</head>
<body>

<br>
<form th:action="@{/admin/creat_user}" th:method="GET">
    <button type="submit">Add user </button>
</form>
<form th:action="@{/admin/update_user}" th:method="GET">
    <button type="submit"> Update user </button>
</form>
<form th:action="@{/admin/delete_user}" th:method="GET" >
    <button type="submit">Delete user</button>
</form>

<form th:action="@{/user}" th:method="GET" >
    <button type="submit">Show user</button>
</form>

<form th:action="@{/logout}" th:method="GET" >
    <button type="submit">Logout</button>
</form>

<br>

<table border="2">All users
    <br/>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Password</th>
    </tr>
    <br/>

    <tr th:each="u : ${users}">
        <td th:text="${u.setId()}"></td>
        <td th:text="${u.getUsername()}"></td>
        <td th:text="${u.getPassword()}"></td>
    </tr>

</table>

<!--<div th:switch="${users}">
    <h2 th:case="null">No users yet!</h2>
    <div th:case="*">
        <h2>Users</h2>
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Password</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.name}"></td>
                <td th:text="${user.password}"></td>
                <td><a th:href="@{/creat_user/{id}(id=${user.id})}">Edit</a></td>
                <td><a th:href="@{/delete_user/{id}(id=${user.id})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/creat_user">Add a new user</a></p>
</div>-->




</body>
</html>