<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
</head>
<body>

<!--<form th:method="POST" th:action="@{/admin/update_user}" th:object="${userU}" >
    <label for="id">Enter id who you want update: </label>
    <input type="number" th:field="*{id}" id="id">
    <br/>

    <label for="name">Enter new name: </label>
    <input type="text" th:field="*{name}" id="name">
    <br/>

    <label for="role">Enter new role: </label>
    <input type="text" th:field="*{role}" id="role">
    <br/>

    <label for="password">Enter new password: </label>
    <input type="text" th:field="*{password}" id="password">
    <br/>

    <input type="submit" value="Update user!">
</form>
<br>

<form th:action="@{/admin/all_users}" th:method="GET" >
    <button type="submit">All user</button>
</form>-->
<form action="#"
      th:action="@{/update_user/{id}(id=${user.id})}"
      th:object="${user}"
      method="post">
    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name" placeholder="Name">
    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
    <label for="email">Email</label>
    <input type="text" th:field="*{email}" id="email" placeholder="Email">
    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
    <input type="submit" value="Update User">
</form>

<form th:action="@{/logout}" th:method="GET" >
    <button type="submit">Logout</button>
</form>

</body>
</html>