<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
</head>
<body>

<form th:method="POST" th:action="@{/admin/update_user}" th:object="${userU}" >
    <label for="id">Enter id who you want update: </label>
    <input type="number" th:field="*{id}" id="id">
    <br/>

    <label for="username">Enter new name: </label>
    <input type="text" th:field="*{username}" id="username">
    <br/>

    <label for="password">Enter new surname: </label>
    <input type="text" th:field="*{password}" id="password">
    <br/>

    <input type="submit" value="Update user!">
</form>
<br>

</body>
</html>