<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>

<table border="2">All users
    <br/>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Password</th>
    </tr>
    <br/>

    <tr th:each="u : ${user}">
        <td th:text="${u.getId()}"></td>
        <td th:text="${u.getUsername()}"></td>
        <td th:text="${u.getPassword()}"></td>
    </tr>

</table>

<form th:action="@{/logout}" th:method="GET" >
    <button type="submit">Logout</button>
</form>

</body>
</html>